@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('../images/ocean-background.jpeg') no-repeat center center / cover;
}

/* @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animate-area {
    width: 200px;
    height: 200px;
    background-image: url('../images/ocean-background.jpeg') no-repeat center center / cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 5s linear infinite alternate;
  } */

#container {
    background-color: rgb(185, 208, 231, .6);
    border-radius: 15px;
    border: 4px solid #63386c;
    width: 85%;
    text-align: center;
    margin: auto;
    
}

h1 {
  color: #8d4b9a;
  font-size: 150%;
}

.game-board {
  background-color:red;
}

.card-front {
  height: 100px;
  width: 100px;
  background-color: white;
}