@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@300&display=swap');

/*needed below?? */
/* * {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
 } */
 
 body {
    font-family: 'Fjalla One', sans-serif;
    background: url('../images/ocean-background.jpeg') no-repeat center center / cover;
    height: 100vh;
}

/* 
@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animate-area {
    width: 200px;
    height: 200px;
    background-image: url('../images/ocean-background.jpeg') no-repeat center center / cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 5s linear infinite alternate;
  }  **Comment from Ilse: use rotate key**
  */

#container {
    background-color: rgb(185, 208, 231, .5);
    border-radius: 15px;
    border: 4px solid #002169;
    width: 70%;
    margin: 10rem auto;
  }

h1 {
    color: #8d4b9a;
    font-size: 220%;
    margin: 1rem;
    letter-spacing: 5px;
    text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem); 
  justify-content: center;
  perspective: 800px;
}

.card {
  margin: 2px;
  position: relative;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition-duration: 1s;
  border: 3px solid #002169;
  border-radius: 10px;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

.card-back {
  backface-visibility: hidden;
  pointer-events: none;
}

.toggle {
  transform: rotateY(180deg);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset, .rules {
    height: 3rem;
    width: 8rem;
    border: 2px solid #002169;
    border-radius: 10px;
    background: linear-gradient(45deg, #63386c, #3992ac);
    color: white;
    font-size: 20px;
    margin: 1rem;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.reset:hover, .rules:hover, .play-button:hover {
  cursor: pointer;
}

.play-button, .ready-button {
    height: 3rem;
    width: 10rem;
    border: 2px solid #002169;
    border-radius: 10px;
    background: linear-gradient(45deg, #63386c, #3992ac);
    color: white;
    font-size: 20px;
    margin: 1rem;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: center;
}



/* Benefits card displayed unless let's play button clicked; rules card hidden unless rules button clicked */
.benefits-card, .rules-card {
  background-color: rgb(5, 20, 52, .8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.rules-card {
  display: none;
}

.benefits-card {
  display: block;
}

.instructions {
    font-family: 'Poppins', sans-serif;
    border: 0.8em solid rgb(185, 208, 231, .5);
    background-color: #19718b;
    border-radius: 20px;
    margin: 4rem auto;
    padding: 3rem;
    max-width: 60%;
    color: white;
}

.benefits {
  font-family: 'Poppins', sans-serif;
  border: 0.8em solid rgb(57, 146, 172, .8);
  background-color: #565581;
  border-radius: 20px;
  margin: 4rem auto;
  padding: 3rem;
  max-width: 60%;
  color: white;
}

.list-rules > li {
  margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Fjalla One';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer {
    font-size: 60%;
    margin-left: 1rem;
    font-family: 'Poppins';
}

.footer > a {
  text-decoration: none;
}

.footer > a:hover {
  font-size: 150%;
  color: white;
}

.time-moves {
  grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin: 0px 5rem;
    padding-bottom: 1rem;
    color: #8d4b9a;
}

@media screen and (min-width: 1440px) {
  #container {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  .time-moves {
    margin: 0px 8rem;
  }
  .benefits {
    padding: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem); 
    justify-content: center;
    perspective: 800px;
  }
  h1 {
    font-size: 150%;
  }
  .time-moves {
    font-size: 80%;
  }
  .benefits {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 60%;
  }
  h2 {
    font-size: 150%;
    margin: 0 auto;
  }
  .ready-button {
    font-size: 12px;
      margin: 0;
      letter-spacing: 0px;
      height: 2rem;
      width: 5rem;
  }
}

@media screen and (max-width: 580px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 4rem); 
    justify-content: center;
    perspective: 800px;
  }
  h1 {
    font-size: 100%;
  }
  .time-moves {
    font-size: 70%;
  }
  .reset, .rules {
    height: 2rem;
    width: 5rem;
    font-size: 14px;
    letter-spacing: 1px;
}

.instructions {
  /* margin: 7rem 3rem; */
  font-family: 'Poppins', sans-serif;
  border: 0.8em solid rgb(185, 208, 231, .5);
  background-color: #19718b;
  border-radius: 20px;
  margin: 3rem auto;
  padding: 1rem;
  /* max-width: 60%; */
}
.benefits {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
}
h2 {
  font-size: 150%;
  margin: 0 auto;
}
.ready-button {
  font-size: 12px;
    margin: 0;
    letter-spacing: 0px;
    height: 2rem;
    width: 5rem;
}
}

@media screen and (max-width: 390px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: repeat(4, 3rem); 
    justify-content: center;
    perspective: 800px;
  }

  h1 {
    font-size: 85%;
  }
  .time-moves {
    /* font-size: 55%; */
    margin: 0px 45px;
    padding-bottom: 1rem;
    color: #8d4b9a;
  }
  .reset, .rules {
    height: 2rem;
    width: 4rem;
    font-size: 12;
    letter-spacing: 1px;
}
}