@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('../images/ocean-background.jpeg') no-repeat center center / cover;
}

/* @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animate-area {
    width: 200px;
    height: 200px;
    background-image: url('../images/ocean-background.jpeg') no-repeat center center / cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 5s linear infinite alternate;
  } */

.container {
    background-color: aqua;
    width: 85%;
    text-align: center;
    margin: auto;
    
}
